footer {
  background-image: url("/assets/images/main_images/img11.jpg");
  background-size: cover;
  background-position: 0px -150px;
  color: #fff;
  font-size: 14px;
  
  .footer {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .7);

    &__box {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  
      a {
        color: #fff;
      }
  
      &__nav {
  
        ul {
          display: flex;
          justify-content:center;
          margin-top: 20px;
  
          li {
  
            &:before {
              content: "|";
            }
  
            &:first-child:before {
              content: none;
            }
  
            a {
              padding: 0 5px;
              color: #fff;
            }
          }
        }
      }
  
      &__rights {
        width: 88%;
        margin: 40px auto 0;
        padding-top: 20px;
        text-align: center;
        border-top: solid 1px #fff;
        color: #aaa;
      }
    }

  }
}

@include screen-small() {

footer {
  text-align: center;
  background-position: center;

  .footer {

    &__box {
      display: block;
      padding: 10px 0;

      li {
        margin-bottom: 5px;
      }

      &__nav {

        ul {
          display: flex;
          justify-content:center;
          margin: 0;

          li {

            &:before {
              content: "|";
            }

            &:first-child:before {
              content: none;
            }

            a {
              padding: 0 2px;
              color: #fff;
            }
          }
        }
      }

      &__rights {
        margin: 20px auto 0;
        padding-top: 10px;
      }

    }

  }

}

}