<footer>
  <div class="footer">
    <div class="footer__box">
      <div>
        <p>外傷・整体・はり・美容はり・マッサージ・フット</p>
      </div>
      <div class="h4"><%= config.default.title %></div>
      <div>
        <ul>
          <li>〒165-0032 東京都中野区鷺ノ宮3-21-11</li>
          <li>店舗携帯：<a href="tel:08066075185">080-6607-5185</a><small>（こちらの方が繋がりやすいです）</small></li>
          <li>TEL：<a href="tel:05071224096">050-7122-4096</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__box__nav">
      <ul>
        <li><a href="/">正面玄関</a></li>
        <li><a href="/menu/">施術案内</a></li>
        <li><a href="/map/">診療時間・地図</a></li>
        <li><a href="/recruitment/">採用情報</a></li>
        <li><a href="/contact/">お問い合わせ</a></li>
      </ul>
    </div>
    <div class="footer__box__rights">
        <p>&copy;<%= new Date().getFullYear();%> 松川接骨院. All rights reserved.</p>
    </div>
  </div>
</footer>
