<div class="navToggle">
  <span></span><span></span><span></span><span></span>
</div>
<nav class="navigation globalMenuSp">
  <ul class="navigation__menu">
    <li><a href="/">正面玄関</a></li>
    <li><a href="/menu/">施術案内</a></li>
    <li><a href="/map/">診療時間・地図</a></li>
    <li><a href="/recruitment/">採用情報</a></li>
    <li><a href="/contact/">お問い合わせ</a></li>
  </ul>
</nav>